[Unit]
Description=Run BOINC Job
DefaultDependencies=no
After=getty.target network-online.target

[Service]
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=/bin/sh -c 'exec /sbin/entrypoint.sh |/sbin/vboxmonitor'
Nice=19
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
